/*
#E67E22
#9CF0A1
#F0B684
#8B6CF0
#6552A3
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    height: 100vh;
    position: relative;
    overflow:hidden;
}

.header {
    position: fixed;
    width: 100vw;
    height: 12rem;
    top: 0;

    display: flex;
    align-items: center;

    font-size: 2.5rem;
    font-family: 'Do Hyeon', sans-serif;
    color: #6552A3;

    border-bottom: #E67E22 solid 4px;
    box-shadow: 0px 6px 28px -7px rgba(230,126,34,1);

    z-index: 1000000;
}

.left_text {
    flex-basis: 60%;
    margin-left: 5rem;
}

.right_text {
    flex-basis: 10%;
    text-align: center;
}

.plus  {
    flex-basis: 30%;
    text-align: right;

    transition: .3s;
}

.plus svg:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.plus svg:active {
    transform: translateY(2px);
}

/**form to add new task**/

.add_task_form {
    width: 40rem;
    height: 50rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: solid 5px #8B6CF0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    z-index: 10000;
}

.close_btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: #F0B684;
    background-image: url(https://img.icons8.com/carbon-copy/100/000000/close-window.png);
    background-size:cover;
}

.close_btn:hover {
    cursor: pointer;
}

.input_area {
    width: 80%;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: start;

    font-size: 2rem;
    font-family: 'Do Hyeon', sans-serif;
}


.form_input {
    border: none;
    border-bottom: 2px solid #6552A3; 
    outline: none;
    margin-bottom: 2rem;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 2rem;
    height: 2.5rem;
}

.form_input:focus {
    border-bottom: 2px solid #E67E22; 
}

.form_textarea {
    height: 20rem;
    margin-top: 1.2rem;

    font-size: 2rem;
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 200;
    resize: none;
    outline: none;
    border: 2px solid #6552A3; 
}

.form_textarea:focus {
    border: 2px solid #E67E22; 
}

.add_btn {
    width: 9rem;
    height: 4rem;
    margin-top: 4rem;

    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Do Hyeon', sans-serif;
    color: #6552A3;
    background-color: #9CF0A1;
    border-radius: 15px;

    outline: none;
    border: none;
    overflow: hidden;
    transition: 0.3s;
}

.add_btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.add_btn span {
    display: block;
    padding: 0 20px;
    animation: move-left 3s linear infinite;
    position: relative;
    height: 100%;
}

.add_btn span::after {
    position: absolute;
    content: "add task";
    top: 0;
    left: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@keyframes move-left {
    to {
      transform: translateX(-200%);
    }
  }

/** task **/

.tasks_section {
    min-height: 100vh;
    padding: 0rem 5rem;
    margin-top: 16rem;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: auto;
    height: 100%;
}

.task {
    width: 35rem;
    min-height: 20rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
    height: auto;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border: #F0B684 5px solid;
    box-shadow: 0px 0px 18px 0px #F0B684;
    
}

.task_top_bar {
    width: 100%;
    height: 1.5rem;
    background-color: #F0B684;
}

.task_checkbox { 
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;

    position: absolute;
    z-index: 1000;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;

}

.task_checkbox:hover {
    background: #9faab7;
}

.task_checkbox:checked {
    background: #9CF0A1;
}

.task_checkbox:checked::before {
    height: 30px;
    width: 30px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 18.66667px;
    text-align: center;
    line-height: 30px;
}

.task_checkbox:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #9CF0A1;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

@keyframes click-wave {
    0% {
      height: 40px;
      width: 40px;
      opacity: 0.35;
      position: relative;
    }
    100% {
      height: 200px;
      width: 200px;
      margin-left: -80px;
      margin-top: -80px;
      opacity: 0;
    }
}

.delete_btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: #F0B684;
    background-image: url(./imgs/recycle-bin.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
}

.delete_btn:hover {
    cursor: pointer;
}

.task_name {
    width: 80%;
    margin-top: 5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-family: 'Do Hyeon', sans-serif;
}

.task_des {
    width: 80%;
    font-size: 1.8rem;
    font-family: 'Baloo Tamma 2', cursive;
}